@import "bourbon"

$white: #fff
$black: #333333
$gray: #ccc
$silver: #e1e4e4
$red: #FE6246

$main: #71c3f9
$blue: #4f76c5
$green: #00d9c0
// $yellowGreen: #dff6a0
$yellowGreen: #7eff8d

$textColor: #333333

// Spaces
$p50: 50px
$p40: 40px
$p30: 30px
$p25: 25px
$p20: 20px
$p15: 15px
$p10: 10px

$m50: 50px
$m40: 40px
$m30: 30px
$m25: 25px
$m20: 20px
