@import "bourbon"
@import "_vars.sass"
@import "_mixins.sass"


%extend_before
	position: absolute
	content: ""
	width: 100%
	bottom: 0

%extend_inline
	display: inline-block
	position: relative
	vertical-align: top

section
	min-height: 300px
	transform: translate3d(0,0,0)
	

.w-desktop-device
	position: relative
	width: 400px
	min-width: 400px
	height: 250px
	border-top: 10px solid $pcGray 
	border-bottom: 30px solid $pcGray 
	border-left: 10px solid $pcGray 
	border-right: 10px solid $pcGray 
	margin: 0 auto 65px

	img
		width: 100%
		height: 100%

	&::before
		position: absolute
		content: ''
		bottom: -63px
		left: 50%
		margin-left: -25px
		height: 30px
		width: 50px
		background: $pcGray
	
	&::after
		content: ''
		position: absolute
		bottom: -71px
		left: 50%
		margin-left: -50px
		width: 100px
		height: 5px
		background: $pcGray


.w-tablet-device
	width: 194px
	border: 13px solid #bcbcbc
	border-radius: 13px
	margin: 0 auto
	position: relative	
	&:after
		content: ''
		display: block
		width: 7px
		border-radius: 7px
		height: 7px
		background: $white
		position: absolute
		bottom: -9px
		left: 50%
		margin-left: -5px
	img
		max-width: 100%

.w-mobile-device
	width: 145px
	height: 220px
	border-top: 9px solid $pcGray
	border-bottom: 14px solid $pcGray
	border-right: 9px solid $pcGray
	border-left: 9px solid $pcGray
	border-radius: 9px
	position: relative
	display: inline-block
	margin-left: 35px
	margin-bottom: 40px
	img 
		max-width: 100%
		height: 100%
	&::after
		content: ''
		position: absolute
		bottom: -12px
		left: 50%
		margin-left: -5px
		display: inline-block
		width: 10px
		height: 10px
		border-radius: 10px
		background: $white
	&.portrait
		width: 220px
		height: 145px
		border-right: 14px solid $pcGray
		border-bottom: 9px solid $pcGray
		&::after
			bottom: 50%
			right: -12px
			left: auto
			margin-bottom: -7px


		

// Section titles
.s-headline
	position: relative
	padding: 40px 40px 30px
	font-size: 25px
	font-weight: 600
	text-transform: uppercase
	letter-spacing: 2px
	&::before
		position: absolute
		left: 0
		top: 55%
		margin-top: -2px
		content: ''
		height: 2px
		width: 30px
		background: $black

//Custom Styles Here
header
	position: relative
	height: 100vh
	color: $white
	overflow: hidden
	@extend %bg_gradient	
	&.article
		height: 48px
	
	.w-title
		position: absolute
		top: 50%
		transform: translateY(-50%)

	.icon-vmaps-logo
		display: inline-block
		font-size: 200px

	.title
		display: inline-block
		margin-left: 20px
		
	h1
		position: relative
		margin-bottom: 40px
		padding-bottom: 50px
		text-transform: uppercase
		font-size: 75px
		line-height: 55px
		letter-spacing: 5px
		&::before
			position: absolute
			bottom: 0
			left: 0
			content: ''
			height: 2px
			width: 140px
			background: $white
	h2
		font-size: 40px
		letter-spacing: 2px
	h3
		font-size: 30px
		line-height: 30px
		text-transform: uppercase 

	.w-menu
		position: fixed	
		width: 100%
		z-index: 100
		&.active
			transition: all 0.8s
			background: rgba(58, 193, 178, .9)
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37)
				
	ul
		display: inline-block
		width: 100%	
	li
		display: inline-block
	
	
		
	.link
		display: inline-block
		padding: 10px 15px
		color: $white
		font-size: 14px
		font-weight: 600
		text-transform: uppercase
		text-shadow: 0px 1px 0.98px rgba(0, 0, 0, 0.35)
		border-bottom: 3px solid transparent
		&.active,
		&:hover
			border-bottom: 3px solid #fff 


// Planets
.solarsystem-outer
	position: absolute
	right: -20%
	top: 65px
	height: 800px
	width: 800px

#solarsystem
	position: relative
	width: 100%	
	height: 100%
	border: 0
	transform: translate3d(0,0,0)

	#sun
		position: absolute
		height: 70px
		width: 70px
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		border-radius: 50%
		box-shadow: 2px 2px 13px 12px #f9f97d
		background: #f9f97d
		img
			width: 100%
			height: 100%

	#mercury
		position: absolute
		left: 25%
		top: 25%
		width: 50%
		height: 50%
		-webkit-animation: orbit 9s linear infinite
		&::after
			content: ''
			width: 35px
			height: 35px
			position: absolute
			top: -17px
			background: url('../img/mercury.png')
			background-size: 35px 35px
			box-shadow: 1px 0px 10px 1px orange

	#venera
		position: absolute
		left: 13%
		top: 13%
		width: 74%
		height: 74%
		-webkit-animation: orbit 18s linear infinite
		&::after
			content: ''
			width: 25px
			height: 25px
			position: absolute
			top: -12px
			background: url('../img/venera.png')
			background-size: 25px 25px
			box-shadow: 1px 0px 11px 1px yellow

	#earth
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		-webkit-animation: orbit 30s linear infinite
		&::after
			content: ''
			width: 70px
			height: 70px
			position: absolute
			display: block
			top: -35px
			background: url('../img/earth.png')
			background-size: 70px 70px
			box-shadow: 1px 0px 11px 2px #377abc

	.planet
		border: 2px solid $white
		border-radius: 50%



#mercury:after, 
#earth:after,
#venera:after
	border-radius: 50%
	margin-left: 40%


@-webkit-keyframes orbit
  100%
    -webkit-transform: rotate(360deg)



// Section about 
#about
	border-bottom: 1px solid $silver
	padding-bottom: 100px
	background-image: url(../img/theme-green.png)
	background-position: bottom
	background-repeat: no-repeat
	font-size: 16px

	.about-img
		margin-top: 30px
		margin-bottom: 40px

	.about-list
		padding: 30px 30px 20px
		li
			padding-bottom: 20px

		i
			margin-right: 10px
			font-size: 20px
			color: $textGreen

	.about-list-2
		padding: 10px 30px 20px
		li
			padding-bottom: 10px

		i
			margin-right: 10px
			font-size: 20px
			color: $textGreen

.w-progress 
	margin: 70px 0 0
	clear: both
	text-align: center
	svg
		height: 180px
		margin-bottom: 10px
	p
		font-weight: 900
		margin-bottom: 40px
	.svg-progress-output 
	    left: 47%
	    top: 20%
	    display: block
	    position: absolute
	    color: $main
	    font-weight: bold
	    font-size: 20px
	.svg-progress-text
		text-align: center
		font-weight: bold
		
.circle-chart__circle
  animation: circle-chart-fill 2s reverse
  transform: rotate(-90deg)
  transform-origin: center
  

.circle-chart__circle--negative
  transform: rotate(-90deg) scale(1, -1)
 

.circle-chart__info
  animation: circle-chart-appear 2s forwards
  opacity: 0
  transform: translateY(0.3em)
  .circle-chart__percent
  	font-size: 7px
  	fill: #777777

@keyframes circle-chart-fill
  to
    stroke-dasharray: 0 100


@keyframes circle-chart-appear
  to
    opacity: 1
    transform: translateY(0)


//Section services
#services
	padding-bottom: 60px
	border-bottom: 1px solid $silver

	// achivement and benefit headline
	.headline
		margin-bottom: 40px
		text-align: center
		color: $textGreen
		font-style: italic
		font-weight: 600
		font-size: 18px		

	.w-service-item
		padding: 60px 0
		text-align: center

		.service-descr
			text-align: left

		.title
			margin-bottom: 20px
			color: $textGreen
			font-size: 20px
			font-weight: 600
			letter-spacing: 1px

		.text
			text-indent: 30px
			
		&:nth-child(odd)			
			padding: 70px 0
			@extend %bg_item
			.title
				color: $black

	.w-achive
		padding: 40px 0 70px
		border-top: 1px solid $silver

		img
			margin-bottom: 20px

		.achive-list
			position: relative
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 1px
				height: 100%
				background: $green
			li
				position: relative
				padding: 10px 0 10px 20px
				&::before
					content: ''
					position: absolute
					left: -4px
					top: 50%
					margin-top: -4px
					height: 8px
					width: 8px
					border-radius: 50%
					background: $green

// Section benefits
.w-benefit
	text-align: center

	.benefit-item-title
		font-size: 16px
		line-height: 22px
		font-weight: 600
		min-height: 75px

	.benefit-item-img
		margin-bottom: 40px



// Section Products

#products
	padding-bottom: 30px
	border-bottom: 1px solid #e1e4e4

	.w-product-subtitle
		text-align: center
		span
			color: $textGreen
			display: inline-block
			line-height: 22px
			font-size: 22px
			text-transform: uppercase
			padding: 15px 30px
			border-top: 2px solid $textGreen
			border-bottom: 2px solid $textGreen
	
	.w-product-item
		position: relative
		padding: 70px 0
		text-align: center

		.title
			font-size: 22px
			font-family: "OpenSansBold"
			margin-bottom: 30px

		&:last-child
			&:after
				content: none
		&:after
			content: ''
			position: absolute
			height: 1px
			width: 340px
			bottom: 0
			left: 50%
			transform: translate(-50%, 0)
			background: $textGreen

		.w-tablet-device
			margin-bottom: 20px

		


// Section News

#news
	padding-bottom: 60px
	border-bottom: 1px solid #e1e4e4

	.read-more 
		display: inline-block
		margin: 20px 0
		padding: 5px 20px
		background: $black
		color: $white
		font-size: 12px
		border: 1px solid $black
		text-transform: uppercase
		transition: all 0.6s
		cursor: pointer
		letter-spacing: 1px
		&:hover
			background: $green
			border: 1px solid $green
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3)
			
	
	img
		width: 100%

	.news-item-theme
		margin: 10px 0
		color: $textGreen
		font-size: 13px
		font-weight: 600
		text-transform: uppercase
		letter-spacing: 2px

	.news-item-title
		margin-bottom: 15px
		font-family: "OpenSansBold", sans-serif
		line-height: 18px

	.news-more-news 
		margin-top: 55px
		text-align: center
		a
			text-transform: uppercase
			border: 4px solid $textGreen
			color: $textGreen
			padding: 10px 20px
			display: inline-block
			text-decoration: none
			&:hover
				background: $textGreen
				color: $white
				box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4)

// Section Contacts

#contact
	color: $white
	background: linear-gradient(to right, $black 0%,$black 50%,$white 50%,$white 100%)

	.s-headline 
		color: $white
		&:before
			background: $white

	.w-contacts
		margin: 30px 0 70px

	.contact-info
		margin-bottom: 50px
		line-height: 25px
		font-size: 16px
		color: $white
		vertical-align: middle
		font-weight: bold
		i
			font-size: 30px
			margin-right: 14px
			margin-top: 2px
			display: inline-block		
		a
			color: #fff
			vertical-align: super
		span
			vertical-align: super

	.contact-form		
		color: $black
		p
			margin: 50px 0 30px
			text-align: center
			font-size: 16px
			font-weight: bold

		form
			margin: 0 auto
			max-width: 450px
			color: $silver
			text-align: center

		input
			height: 35px
			width: 100%
			text-indent: 10px
			margin-bottom: 20px
			border: 1px solid $gray
			box-sizing: border-box
			color: $black

		textarea
			border: 1px solid $gray
			max-width: 100%
			height: 130px
			width: 100%
			padding: 5px 10px
			box-sizing: border-box
			margin-bottom: 30px
			color: $black

		.submit-btn
			display: inline-block
			padding: 5px 30px
			margin-bottom: 40px
			background: $black
			color: $white
			border: 1px solid $black
			text-transform: uppercase
			transition: all 0.6s
			cursor: pointer
			letter-spacing: 1px
			&:hover
				background: $green
				border: 1px solid $green
				box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4)

#clients
	padding: 20px 40px
	@extend %bg_item
	text-align: center
	h2
		text-transform: uppercase
		font-size: 24px
	.clients-item
		display: inline-block
		vertical-align: middle
		padding: 30px 30px 0
		margin-bottom: 20px

footer
	position: absolute
	bottom: 0	
	width: 100%
	padding: 40px 0
	background: $black
	color: $white

	.footer-nav
		position: relative		

		li
			list-style: none
			display: inline-block
			margin-right: 25px
			font-size: 13px
		a
			color: $white

	.w-footer-logo
		text-transform: uppercase
		margin-top: 10px
		i
			font-size: 45px

	.footer-contacts
		text-align: right
		span
			display: block
			margin-bottom: 15px
			font-size: 16px
		a
			display: block
			color: $white


@import "_media"
@import "_blog"