@import "bourbon"
@import "_vars.sass"
@import "_mixins.sass"


%extend_before
	position: absolute
	content: ""
	width: 100%
	bottom: 0

%extend_inline
	display: inline-block
	position: relative
	vertical-align: top

//Custom Styles Here
header
	position: relative